*, *:before, *:after {
  box-sizing: border-box;
}

a {
  color: inherit;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14pt;
  margin: 0;
}

.code-content {
  margin-top: 100px;
}

.code-content .proof-point {
  margin-bottom: 40px;
}

.columns {
  float: left;
  min-height: 1px;
  padding: 0 15px;
  position: relative;
}

footer {
  padding-bottom: 30px;
  padding-top: 30px;
  position: relative;
  text-align: center;
}

footer:before {
  background-color: #eaeaea;
  content: " ";
  display: block;
  height: 1px;
  left: 50%;
  margin-left: -20px;
  position: absolute;
  top: 0;
  width: 40px;
}

footer > p {
  font-size: 0.8em;
  line-height: 1.4;
}

#background {
  background: #f4f7f4 url("../img/circuit-board.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.7;
  filter: alpha(opacity=70);
  width: 100%;
  height: 100vh;
  position: relative;
  margin-top: -120px;
}

header {
  margin-top: 0;
  padding-bottom: 120px;
  padding-top: 120px;
  position: relative;
  height: 100vh;
}

header section {
  margin-bottom: 10vh;
  margin-top: 10vh;
}

.logo {
  position: absolute;
  text-align: center;
  top: 50vh;
  width: 100%;
  margin-top: -12vh;
}

.logo img {
  margin-bottom: 5vh;
  width: 30vw;
}

.logo h2 {
  font-size: 3.5vh;
  font-style: italic;
}

.logo-glow {
  background-color: rgba(244, 244, 244, 0.8);
  box-shadow: 0 0 90px 30px #f4f4f4;
  height: 40vh;
  left: 50vw;
  margin-left: -20vw;
  margin-top: -20vh;
  position: absolute;
  top: 50vh;
  width: 40vw;
}

.row {
  margin: 0 auto;
  max-width: 1120px;
  width: 100%;
}

.row h4 {
  margin: 1ex;
}

.row h4 + p {
  margin: 0;
}

.row p strong:hover {
  color: #22b822;
}

.row p.notice {
  font-size: 80%;
}

.row:after {
  clear: both;
}

.row:before, .row:after {
  content: " ";
  display: table;
}

.row .eight {
  width: 66.6667%;
}

.row .eight p {
  text-align: justify;
}

.row .five {
  width: 41.6667%;
}

.row .four {
  width: 33.3333%;
}

.row .four i.fa {
  font-size: 2em;
}

.row .four:hover > i.fa {
  color: #22b822;
}

.row .three {
  width: 25%;
}

.row div + div {
  float: right;
}

.pull-two {
  right: 16.6667%;
}

.push-two {
  left: 16.6667%;
}

span.nou {
  font-variant: small-caps;
}

.text-centered {
  text-align: center;
}

@media only screen and (max-width: 700px) {
  body {
    font-size: 12pt;
  }
  .row .eight {
    width: 98%;
    left: 1%;
    right: 1%;
  }
  .row .eight p {
    text-align: left;
  }
  .row .four {
    width: 100%;
    left: 0;
    right: 0;
    margin-bottom: 1em;
  }
    
  .code-content {
    margin-top: 20px;
  }
  .code-content .proof-point {
    margin-bottom: 0;
  }
}
